@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../util/functions" as *;
@use "../util/breakpoints" as *;

.calculator {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: rem(30) rem(30) rem(100) rem(30);
  margin-inline: rem(18);
  padding: rem(48) rem(24);
  gap: 3.5rem;
  max-width: rem(1008);

  @include breakpoint-up(medium){
    margin-inline: 0;
    gap: rem(60);
    padding: rem(60);
  }

  @include breakpoint-up(large){
    gap: 0;
    padding: rem(44.8);
  }

  &__form {
    display: flex;
    gap: rem(16);

    @include breakpoint-up(medium){
      gap: rem(28.8);
    }

    @include breakpoint-up(large){
      gap: rem(32);
    }
    
    div {
      display: flex;
      flex-direction: column;

      @include breakpoint-up(large){
        width: 20%;
      }
    }
  }

  &__logo-container {
    position: relative;
    display: flex;
    align-items: center;

    & .line {
      width: 100%;
      height: 1px;
      background-color: $lightgrey;
    }

    & .logo {
      background-color: $purple;
      border-radius: 999px;
      padding: 20px;
      
      @include breakpoint-down(medium){
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      img {
        width: 30px;
        height: 25px;

        @include breakpoint-up(medium){
          width: 40px;
          height: 35px;
        }
      }
    }
  }
}