@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../util/fonts" as *;
@use "../util/functions" as *;
@use "../util/breakpoints" as *;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: em(375);
  max-width: em(1400);
  margin: 0 auto;
  background-color: $offwhite;
  font-family: $font-primary;
  
  @include breakpoint-up(medium){
    width: 80%;
  }

  @include breakpoint-up(large){
    width: 65%;
  }

  @include breakpoint-up(xlarge){
    width: 50%;
  }
}

a, a:visited, a:active {
  text-decoration: none;
}

p {
  font-size: rem(53.6);
  font-weight: $font-bold;
  font-style: italic;
  line-height: 1.2;

  @include breakpoint-up(medium){
    font-size: rem(80);
  }

  @include breakpoint-up(xlarge){
    font-size: rem(96);
  }
}

label {
  font-size: rem(14);
  margin-bottom: rem(5);
  letter-spacing: rem(1.5);
  color: $smokegrey;
  font-weight: $font-bold;

  @include breakpoint-up(medium){
    font-size: rem(18);
  }
}

span {
  color: $purple;
}

button, .button {
  border: none;
  cursor: pointer;
}

.error-msg {
  color: $lightred;
}